@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

/* ---- NavBar ---- */
.sticky-nav {
  animation: sticky-nav 0.6s;
}

@keyframes sticky-nav {
  0% {
    transform: translateY(-6em);
  }

  100% {
    transform: translateY(0);
  }
}

* {
  caret-color: transparent;
}
